*/.DS_Store
.DS_Store

processes-api/*/__pycache__/*
processes-api/*/*/__pycache__/*
processes-api/tmp/*
*/.DS_Store
.DS_Store
api/__pycache__/*
api/*/__pycache__/*
api/*/*/__pycache__/*
api/data/geoserver/*
api/configs/.env
api/configs/providers.yml
api/configs/dev_environment

*/node_modules/
db/*

geoserver/data/geoserver/*
!geoserver/data/geoserver/.keep

geoserver/data/pg_data/*
!geoserver/data/pg_data/.keep

geoserver/configs/*
!geoserver/configs/geoserver.example
!geoserver/configs/postgis.example
